
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,300italic,400italic,600italic);


#container 
{
	width: 60%;
	margin: 30px auto;
	max-width: 800px;
	font-family: 'Source Sans Pro', 'Avenir', 'Arial', 'sans-serif';
	font-size: 130%;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.61em;
}

p {
	font-size: 1em;
}