
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,300italic,400italic,600italic);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);

body {
	background-color: #f7f7f7;
}

#container 
{
	width: 60%;
	margin: 30px auto;
	max-width: 800px;
	font-family: 'Source Sans Pro', 'Avenir', 'Arial', 'sans-serif';
	font-size: 140%;
	color: #3c3c3c;
}

h1, h2 {
	font-family: 'Open Sans Condensed', 'sans-serif';
	text-align: center;
}

h1 {
	font-size: 2.5em;
	font-weight: 300;
	text-align: center;
}

h2 {
	font-size: 1.61em;
	font-weight: 400;
	margin-top: 40px;
	margin-bottom: -10px;
}

p, li {
	font-size: 1em;
	font-weight: 400;
	line-height: 1.85em;

	-moz-hyphens: auto;
	-o-hyphens: auto;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
}

p.firstParagraph:first-letter {
	float: left;
	font-size: 4.8em;
	line-height: 1em;
	padding-right: 10px;
	font-family: 'Open Sans Condensed', sans-serif;
}

ul {
	padding-left: 0;
}

a {
	color: #900;
	text-decoration: none;
}

strong {
	font-weight: 600;
}

.quote {
	font-style: italic;
}
